.login-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
  }
  /***
  this is is the first version
  this is second version
  this is third version
  this is fourth version
  */